<footer class="my-20 space-y-2 text-sm text-center text-gray-600">
  <p>
    Found this useful? Consider <a href="https://ko-fi.com/L4L5ALCAJ" class="font-semibold text-purple-600 underline hover:no-underline" target="_blank">buying me a coffee</a>!
  </p>
  <p>
    © <%= Date.today.year %>
    <a href="https://mr.si/" class="underline hover:no-underline" target="_blank">Miha Rekar</a>.
    Contribute on <a href="https://github.com/miharekar/ohanami" class="underline hover:no-underline" target="_blank">GitHub</a>.
  </p>
</footer>
