<footer class="my-20 text-sm text-center text-gray-600">
  Found this useful? Consider <a href="https://ko-fi.com/L4L5ALCAJ" class="underline hover:no-underline" target="_blank">buying me a coffee</a>!
  <br>
  <div class="mx-auto my-5">
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
    <script type='text/javascript'>
      kofiwidget2.init('Support ohanami app', '#9333ea', 'L4L5ALCAJ');kofiwidget2.draw();
    </script>
  </div>
  © <%= Date.today.year %>
  <a href="https://mr.si/" class="underline hover:no-underline" target="_blank">Miha Rekar</a>.
  Contribute on <a href="https://github.com/miharekar/ohanami" class="underline hover:no-underline" target="_blank">GitHub</a>.
</footer>
