<footer class="my-20 text-sm text-center text-gray-600">
  Found this useful? Consider <a href="https://ko-fi.com/L4L5ALCAJ" class="underline hover:no-underline" target="_blank">buying me a coffee</a>!
  <br>
  <a href="https://ko-fi.com/L4L5ALCAJ)">
    <%= inline_svg_tag "support.svg", class: "mx-auto my-6 h-8" %>
  </a>
  © <%= Date.today.year %>
  <a href="https://mr.si/" class="underline hover:no-underline" target="_blank">Miha Rekar</a>.
  Contribute on <a href="https://github.com/miharekar/ohanami" class="underline hover:no-underline" target="_blank">GitHub</a>.
</footer>
