<main class="isolate">
  <!-- Hero section -->
  <div class="relative pt-14">
    <div class="absolute inset-x-0 overflow-hidden -top-40 -z-10 transform-gpu blur-3xl sm:-top-80">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="py-24 sm:py-32">
      <div class="px-6 mx-auto max-w-7xl lg:px-8">
        <div class="max-w-2xl mx-auto text-center">
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">ohanami.app</h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Tired of the hassle of manually calculating scores in <a href="https://pandasaurusgames.com/products/ohanami" target="_blank" class="underline hover:no-underline">Ohanami</a>?
            Our app is here to save the day! With the ohanami.app Score Tracker, enjoy a smooth, automated scoring experience that lets you focus on the strategy and fun of the game, without the math.
          </p>
          <div class="flex items-center justify-center mt-10 gap-x-6">
            <%= link_to "Start a New Game", new_game_path, class: "rounded-md bg-purple-600 px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600" %>
          </div>
        </div>
      </div>
    </div>
    <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
      <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
  <div class="mb-12">
    <div class="grid gap-6 text-center md:grid-cols-3">
      <div class="p-6 rounded-lg">
        <h3 class="mb-3 text-xl font-semibold">Automated Score Tracking</h3>
        <p>Instantly calculate scores for each round with ease, ensuring accuracy and efficiency.</p>
      </div>
      <div class="p-6 rounded-lg">
        <h3 class="mb-3 text-xl font-semibold">Manage Card Sets</h3>
        <p>Keep track of your card sets and their colors throughout the game, all in one place.</p>
      </div>
      <div class="p-6 rounded-lg">
        <h3 class="mb-3 text-xl font-semibold">Real-Time Progress</h3>
        <p>View your round-by-round progress and strategize accordingly for a competitive edge.</p>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>
