<div>
  <%= render @game %>
  <div class="flex justify-center my-10">
    <%= link_to "Start a new game", new_game_path, class: "rounded-md bg-purple-600 px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600" %>
  </div>
</div>
<%= render "shared/footer" %>
